# CampusFind AI Environment Variables
PORT=3000
GEMINI_API_KEY=your_real_gemini_key_here

# Cloudinary CDN - Unsigned Upload Preset
VITE_CLOUDINARY_CLOUD_NAME=v6m777sp
VITE_CLOUDINARY_UPLOAD_PRESET=CampusFindAi

# Firebase Auth Configuration
VITE_FIREBASE_API_KEY=AIzaSyB2q8QaSjSXU8ez71_9-qcISffHLIrWujs
VITE_FIREBASE_AUTH_DOMAIN=campusfind-ai-d10c1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campusfind-ai-d10c1
VITE_FIREBASE_STORAGE_BUCKET=campusfind-ai-d10c1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=71933286515
VITE_FIREBASE_APP_ID=1:71933286515:web:972c8962d644d1a0bb3206
